<h2> Sign in </h2>

<form action="<%= session_url %>" method="POST">
    <label> Username
        <input type="text" name="user[user_name]" value="">
    </label>

    <label> Password
        <input type="password" name="user[password]" value="">
    </label>

    <input type="submit" value="Sign in">
</form>
