<h1>  New User Setup</h1>

<form action="<%= users_url %>" method="POST">  
    <label for="email">E-mail</label>
    <input type="email" name="user[email]">

    <label for="password">Password</label>
    <input type="password" name="user[password]">



    
    <input type="submit" value="Submit">


</form>

